<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-app.js";
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-auth.js";
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-messaging.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyB7Cm3LgiY5KOpy8tgRB8SE9vE6Kc8fETo",
      authDomain: "dropship-f1ad9.firebaseapp.com",
      projectId: "dropship-f1ad9",
      storageBucket: "dropship-f1ad9.appspot.com",
      messagingSenderId: "161989651929",
      appId: "1:161989651929:web:fad9968a82ac7c7cd7fdc8"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
  </script>